* {
    background-color:rgb(56, 55, 55);

}

header {
    text-align:center;
    font-size: 50px;
    color:white;
    font-family: 'Courier New', Courier, monospace;

}

a {
    font-size: 25px;
}

a:hover { 
    text-decoration: none;
    transform: scale(1.05);
    color:white;
}

body { 
    background-color:rgb(56,55,55);
}

.container {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    border-color:black;
    align-items:flex-end;
}


